.ai-hf-selected-template-type-none tbody tr:not(.type-of-template),
.ai-hf-selected-template-type-custom tbody tr:not(.type-of-template, .ai-hf-shortcode) {
    display: none;
}
span.ai-hf-shortcode-col-wrap > input {
    background: inherit;
    color: inherit;
    font-size: 12px;
    border: none;
    box-shadow: none;
    padding: 4px 8px;
    margin: 0;
}
input.ai-hf-large-text{
    width: 99%;
}
.ai-hf-options-row-heading {
    border-right: 1px solid #E1E1E1;
    padding: 15px;
    width: 45%;
    vertical-align: middle;
}
.ai-hf-options-row td {
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #f0f0f0;
    zoom: 1;
    vertical-align: middle;
}
.ai-hf-options-table .ai-hf-options-row-content {
    padding: 15px 10px;
    position: relative;
    width: 55%;
}
.ai-hf-options-table.widefat {
	border-width: 0;
}
.ai-hf-options-row-heading label {
    display: inline-block;
    font-size: 13px;
    line-height: 1.4em;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px;
    color: #333;
}
.ai-hf-options-row-content select {
    width: 95%;
}
.zhf_radio_options {
    display: inline-block;
}
li#toplevel_page_Settings-page,
.wp-admin #adminmenu .wp-submenu a[href="themes.php?page=ai-hf-settings"],
.wp-admin #adminmenu .wp-submenu a[href="themes.php?page=ai-hf-guide"],
.wp-admin #adminmenu .wp-submenu a[href="themes.php?page=ai-hf-about"] {
    display: none;
}
.appearance_page_ai-hf-settings #adminmenu .wp-submenu a[href ="edit.php?post_type=ai-hf" ] {
    color: #ffffff;
    font-weight: 600;
}
.ai-hf-heading-inline {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}
.ai-hf-selected-template-type-custom .ai-hf-shortcode {
    display: table-row;
}
.ai-hf-selected-template-type-custom .bsf-target-rules-row,
.ai-hf-selected-template-type-custom .enable-for-canvas,
.ai-hf-shortcode,
.ai-hf-selected-template-type-none .bsf-target-rules-row,
.ai-hf-selected-template-type-none .ai-hf-shortcode,
.ai-hf-selected-template-type-none .enable-for-canvas,
.ai-hf-guide-content .form-table th {
    display: none;
}
span.ai-hf-shortcode-col-wrap input.ai-hf-canvas-enable {
    border: solid 1px #2271b1;
}