/* Pro Styles */
.elementor-control-aiea_pro_section .elementor-section-title,
.elementor-panel .elementor-control.elementor-control-pro_desc .elementor-control-field-description .ai-pro-feature a,
.elementor-control-animate_style_warning .elementor-control-title, 
.elementor-control-layout_style_warning .elementor-control-title,
.elementor-control-flip_style_warning .elementor-control-title,
.elementor-control-map_style_warning .elementor-control-title,
.elementor-control-image_grid_style_warning .elementor-control-title,
.elementor-control-tooltip_type_warning .elementor-control-title,
.elementor-control-sep_model_warning .elementor-control-title,
.elementor-control-tab_type_warning .elementor-control-title {
    color: #39b54a;
}
.elementor-control.elementor-control-pro_desc .elementor-control-field {
    display: none !important;
}
i.ai-default-icon:after {
    position: absolute;
    top: 5px;
    left: 5px;
	right: auto;
    height: 15px;
    width: 15px;
    content: "";
    background-image: url(../../images/logo.png);
    background-size: contain;
    border-radius: 50%;
	opacity: 0.8;
	background-repeat: no-repeat;	
}

/* Drag field style */
.drag-drop-multi-field > .drag-drop-childs:first-child {
    margin-right: 4px;
}
.drag-drop-multi-field > .drag-drop-childs {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.drag-drop-multi-field > .drag-drop-childs > h4 {
    margin-bottom: 5px;
    font-weight: bold;
}
.drag-drop-multi-field > .drag-drop-childs .ui-sortable-handle {
    display: block;
	font-size: 12px;
    margin-left: 0;
}
.drag-drop-childs ul.meta-items.ui-sortable {
    padding: 10px;
}
.drag-drop-multi-field > .drag-drop-childs .ui-sortable-handle {
    display: block;
    font-size: 12px;
    margin-left: 0;
    background: transparent;
    border: dotted #333 1px;
    color: #333;
}

/* Hidden Control Styles */
.elementor-control.ai-hidden-trigger-control {
    visibility: hidden;
    height: 0;
    padding: 0;
    border: none;
}

ul.ui-sortable li[data-id]:before {
    font-family: "eicons";
    margin-right: 6px;    
}
ul.ui-sortable li[data-id="social"]:before {
	content: "\e853";
}
ul.ui-sortable li[data-id="address"]:before {
	content: "\e872";
}
ul.ui-sortable li[data-id="info"]:before {
	content: "\e8c7";
}
ul.ui-sortable li[data-id="phone"]:before {
	content: "\e887";
}
ul.ui-sortable li[data-id="mail"]:before {
	content: "\e894";
}
ul.ui-sortable li[data-id="timing"]:before {
	content: "\e8fe";
}
ul.ui-sortable li[data-id="icon"]:before {
	content: "\e933";
}
ul.ui-sortable li[data-id="title"]:before {
	content: "\e81a";
}
ul.ui-sortable li[data-id="img"]:before,
ul.ui-sortable li[data-id="image"]:before {
	content: "\e873";
}
ul.ui-sortable li[data-id="price"]:before {
	content: "\e84d";
}
ul.ui-sortable li[data-id="name"]:before {
	content: "\e920";
}
ul.ui-sortable li[data-id="des"]:before {
	content: "\e863";
}
ul.ui-sortable li[data-id="video"]:before {
	content: "\e981";
}
ul.ui-sortable li[data-id="btn"]:before,
ul.ui-sortable li[data-id="button"]:before {
	content: "\e81e";
}
ul.ui-sortable li[data-id="features"]:before {
	content: "\e934";
}
ul.ui-sortable li[data-id="content"]:before {
	content: "\e8b3";
}
ul.ui-sortable li[data-id="category"]:before {
	content: "\e889";
}
ul.ui-sortable li[data-id="meta"]:before {
	content: "\e8b1";
}
ul.ui-sortable li[data-id="thumb"]:before {
	content: "\e873";
}
ul.ui-sortable li[data-id="excerpt"]:before {
	content: "\e8b3";
}
ul.ui-sortable li[data-id="author"]:before {
	content: "\e93d";
}
ul.ui-sortable li[data-id="more"]:before {
	content: "\e81e";
}
ul.ui-sortable li[data-id="date"]:before {
	content: "\e826";
}
ul.ui-sortable li[data-id="comment"]:before {
	content: "\e8b8";
}
ul.ui-sortable li[data-id="rating"]:before {
	content: "\e8f8";
}
ul.ui-sortable li[data-id="bar"]:before {
	content: "\e855";
}

.elementor-element [class^="aieaicon-"]:before, .elementor-element [class*=" aieaicon-"]:before {
    font-size: 38px;
	opacity: 0.9;
}

.elementor-control-aiea_section_pro .elementor-panel-heading-title.elementor-section-title {
    color: #ff5656;
}
#ai-addon-navgigate-dialog,
.dialog-widget.dialog-buttons-widget.ai-active button.elementor-button.go-pro.dialog-button.dialog-action.dialog-buttons-action {
    display: none;
}
.dialog-widget.dialog-buttons-widget.ai-active #ai-addon-navgigate-dialog {
	display: inline;
}
.elementor-control.elementor-control-aiea_icon_startup {
    display: none !important;
}
i.eicon-accordion.eicon-accordion-v {
    transform: rotate(-90deg);
}

.elementor-control-section_rain_drops .elementor-panel-heading-title.elementor-section-title,
.elementor-control-section_smoke .elementor-panel-heading-title.elementor-section-title,
.elementor-control-section_parallax .elementor-panel-heading-title.elementor-section-title,
.elementor-control-section_float_img .elementor-panel-heading-title.elementor-section-title {
    padding-left: 20px;
	position: relative;
}
.elementor-control-section_rain_drops .elementor-panel-heading-title.elementor-section-title:before,
.elementor-control-section_smoke .elementor-panel-heading-title.elementor-section-title:before,
.elementor-control-section_parallax .elementor-panel-heading-title.elementor-section-title:before,
.elementor-control-section_float_img .elementor-panel-heading-title.elementor-section-title:before {
    height: 15px;
    width: 15px;
    content: "";
    background-image: url(../../images/logo.png);
    background-size: contain;
    border-radius: 50%;
    opacity: 0.8;
    background-repeat: no-repeat;
	position: absolute;
    left: 0;
}