.ai-settings-wrap *, .ai-settings-wrap *:after, .ai-settings-wrap *:before {
    box-sizing: border-box;
}
.ai-settings-wrap {
    padding: 15px;
}
.ai-header-bar {
    height: auto;
    padding: 10px;
    background: #fff;
    -webkit-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 8px 21px 0px rgba(36, 39, 50, 0.08);
    box-shadow: 0px 8px 21px 0px rgba(36, 39, 50, 0.08);
}
.ai-header-right {
    text-align: right;
}
.ai-settings-wrap .ai-header-left {
    display: flex;
    align-content: center;
    align-items: center;
}
.ai-header-left, .ai-header-right {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.ai-header-bar .ai-admin-logo-inline {
    width: 60px;
    padding: 5px 10px;
    margin-right: 5px;
}
.ai-header-bar .ai-admin-logo-inline img {
    width: 100%;
}
.ai-header-bar .title {
    font-size: 22px;
    color: #3f3f3f;
    font-weight: 500;
    margin: 0px;
    line-height: 2.5;
}

/* Button Styles */
.ai-btn.btn-default, .button.ai-btn {
    background-color: #0099cc;
    color: #fff;
    padding: 6px 20px;
    border: none;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 0.05em;
	text-decoration: none;
}
.ai-btn.btn-default {
    line-height: 26px;
    height: 40px;
    margin-top: 20px;
    display: block;
    width: 150px;
    text-align: center;	
	border-radius: 3px;
	text-transform: capitalize;
    font-size: 14px;
	background-color: #f35719;
    background-image: -moz-linear-gradient( 180deg, #f35719 0%, #f58423 100% );
    background-image: -webkit-linear-gradient( -169deg, #f35719 0%, #f58423 100% );
    background-image: -ms-linear-gradient( 180deg, #f35719 0%, #f58423 100% );
    transition: all 300ms ease-in-out;
}
.ai-header-bar .ai-btn, .ai-save-btn-wrap .ai-btn {
    border-radius: 3px;
	background-color: #f35719;
    background-image: -moz-linear-gradient( 180deg, #f35719 0%, #f58423 100% );
    background-image: -webkit-linear-gradient( -169deg, #f35719 0%, #f58423 100% );
    background-image: -ms-linear-gradient( 180deg, #f35719 0%, #f58423 100% );
    width: 160px;
    height: 50px;
    transition: all 300ms ease-in-out;
}


.admin-box-slide-wrap img {
    border-radius: 13px;
    left: -1px;
    position: relative;
}
/* Basic Styles */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.inc-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.inc-row > [class^="inc-col-"] {
	position: relative;
    width: 100%;
    margin-bottom: 30px
}
.img-fluid {
    max-width: 100%;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.mr-3 {
    margin-right: 1rem!important;
}
.mb-4 {
	margin-bottom: 1.25rem!important;
}
.my-4 {
    margin-top: 1.25rem!important;
    margin-bottom: 1.25rem!important;
}
@media only screen and (min-width: 768px) {
	.inc-col-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.inc-col-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.inc-col-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.inc-col-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.inc-col-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.inc-col-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.inc-col-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.inc-col-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.inc-col-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.inc-col-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.inc-col-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Admin Page Styles */
.admin-box-info > .admin-box-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 32px;
}
.admin-box-icon {
    padding: 12px;
    background: #f1f1f1;
    border-radius: 50%;
}
.admin-box {
    padding: 43px 30px;
    box-shadow: 0px 8px 38px 0px rgb(16 16 16 / 7%);
    position: relative;
    min-height: 170px;
}
.admin-box-content {
    color: #424242;
    font-size: 15px;
    line-height: 27px;
}
img.ai-preview-img {
    box-shadow: 0px 8px 38px 0px rgba(16, 16, 16, 0.07);
}
.admin-box-slide-wrap .admin-box-icon {
    margin-bottom: 20px;
    background: transparent;
    padding: 0;
    border-radius: 0;
}
.admin-box-slide-wrap .admin-box-icon span {
    font-size: 50px;
    line-height: 50px;
    padding: 0;
    width: auto;
    height: auto;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #f35719;
    background-image: -moz-linear-gradient( 180deg, #f35719 0%, #f58423 100% );
    background-image: -webkit-linear-gradient( -169deg, #f35719 0%, #f58423 100% );
    background-image: -ms-linear-gradient( 180deg, #f35719 0%, #f58423 100% );
}
.admin-box-slide-wrap .admin-box-title a {
    text-decoration: none;
    color: #1d2327;
    margin-bottom: 25px;
    display: block;
}
/* Widget Options Page */
.ai-settings-tabs .element-group {
    margin-bottom: 30px;
    padding: 10px;
}
.ai-settings-tab .element-group-inner .switch .slider:before {
    height: 16px;
    width: 16px;
}
.ai-settings-tab .element-group-inner .switch {
    height: 24px;
    width: 42px;
}
.ai-settings-tab .element-group-inner .switch input:checked + .slider {
	background: #06465a;
}
.ai-settings-tab .element-group-inner .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(16px);
    transform: translateX(18px);
}
.ai-settings-tab .element-group .element-group-inner {
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    color: #111;
}
.ai-settings-tab .element-group .element-group-inner > h3 {
    color: #111;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.ai-admin-logo-inline > img {
	border-radius: 50%;
}
a.ai-btn.abs-right {
    position: absolute;
    right: 35px;
    top: 35px;
}
.full-logo-wrap {
    text-align: center;
}
.full-logo-wrap > img {
    max-width: 120px;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0px 8px 38px 0px rgb(16 16 16 / 7%);
    margin-bottom: 10px;
}
.banner-img-wrap {
	overflow: hidden;
}
.banner-img-wrap > img.ai-preview-img {
    transition: all ease 1s;
}

.ai-main-box {
	margin-bottom: 20px;
}
.ai-main-box > * {
	margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.ai-main-box a.ai-trigger-all-shortcodes {
    margin-left: 10px;
}

a.inc-save-changes-button.active > span:before {
	-webkit-animation: inc_spin 2s linear infinite;
	animation: inc_spin 2s linear infinite;
}
.inc-save-widgets.done > span:before {
    font-family: bootstrap-icons !important;
    content: "\f633";
}
body.ai-saving:before {	
    position: fixed;
    height: 100%;
    width: 100%;
    content: "";
    z-index: 9999999;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
}
body.ai-saving:after {
	font-family: bootstrap-icons !important;
	content: "\f3e5";
	-webkit-animation: inc_spin 2s linear infinite;
	animation: inc_spin 2s linear infinite;
	color: #07b481;
    font-size: 60px;
    z-index: 999999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
div#ai-save-settings-check {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999999;
    transform: translateX(-50%) translateY(-50%);
}
body.ai-saving.inc-save-done:after {
	content: "";
}
#check-group {
    animation: 0.32s ease-in-out 1.03s check-group;
    transform-origin: center;
}

#check-group #check {
    animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
    stroke-dasharray: 0, 75px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#check-group #outline {
    animation: 0.38s ease-in outline;
    transform: rotate(0deg);
    transform-origin: center;
}

#check-group #white-circle {
    animation: 0.35s ease-in 0.35s forwards circle;
    transform: none;
    transform-origin: center;
}

@keyframes outline {
  from {
    stroke-dasharray: 0, 345.576px;
  }
  to {
    stroke-dasharray: 345.576px, 345.576px;
  }
}
@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes check {
  from {
    stroke-dasharray: 0, 75px;
  }
  to {
    stroke-dasharray: 75px, 75px;
  }
}
@keyframes check-group {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  to {
    transform: scale(1);
  }
}
/* Custom Animation Styles */
@keyframes zoom_in_out {
  0% { transform: scale(1) rotateZ(0); }
  50% { transform: scale(1.1) rotateZ(2deg); }
  100% { transform: scale(1) rotateZ(0); }
}

@-webkit-keyframes inc_spin {
  0% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg); }
}
@keyframes inc_spin {
  0% { transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) translateY(-50%) rotate(360deg); }
}

/* Welcome page styles */

a {
	color: #286CD6;
}
a:focus {
	outline: none;
	box-shadow: none;
}
.pt-0 {
	padding-top: 0 !important;
}	
.pr-0 {
	padding-right: 0 !important;
}
.pl-0 {
	padding-left: 0 !important;
}
.pt-100	{
	padding-top: 100px;
}
.pt-50	{
	padding-top: 50px;
}
.m-0 {
	margin: 0 !important;
}
.mb-30 {
	margin-bottom: 30px !important;
}	
a {
	text-decoration: none;
}	
.d-flex {
	display: flex !important;
}
.mx-auto {
	margin: 0 auto;
}	
.justify-center {
	justify-content: center;
}	
.align-self-center {
	align-self: center;
}	
.inc-settings-tabs {
    margin-top: 50px;
}
a.inc-tab-nav-link {
    text-decoration: none;
    display: flex;
    padding: 23px 40px;
    justify-content: space-between;
	-webkit-transition: all .4s ease;
    transition: all .4s ease;
}
span.inc-menu-subtitle {
    color: #72777c;
    font-size: 13px;
}
span.inc-menu-title {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 2px;
    line-height: 1;
}
a.inc-tab-nav-link:focus {
    box-shadow: none;
}
.inc-menu-icon {
    margin-right: 10px;
}
.inc-menu-icon i {
    color: #fff;
    font-size: 23px;
}
.inc-tab-nave-content {
    align-self: center;
}
.inc-tabs {
    background: #286CD6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.inc-tab-nav .inc-tab-nav-link.active, .inc-tab-nav .inc-tab-nav-link:hover {
    background: #fff;
}
.inc-tab-nav .inc-tab-nav-link.top.active, .inc-tab-nav .inc-tab-nav-link.top:hover {
    border-top-left-radius: 20px;
}
a.inc-tab-nav-link:hover span.inc-menu-title, a.inc-tab-nav-link:hover .inc-menu-icon i {
    color: #286CD6;
}
li a.inc-tab-nav-link.active span.inc-menu-title, li a.inc-tab-nav-link.active .inc-menu-icon i{
    color: #286CD6;
}
.inc-tab-content {
    background-color: #fff;
    padding: 30px 50px 50px;
    border-radius: 0 0 20px 20px;
    min-height: 100vh;
	padding-top: 100px;
}
.inc-tab-content {
	background-repeat: no-repeat;
    background-position: 30px 10px;
}
h1.inc-section-heading {
    color: #286CD6;
    font-weight: 700;
	padding-left: 15px;
		align-self: center;
}	
.inc-section-header-wrap {
	position: relative;
}
.inc-section-header-wrap:before {
    content: '';
    position: absolute;
    width: 100%;
    background: #c5c9cd;
    border-top: 1px solid #c5c9cd;
    bottom: -30px;
    border-radius: 50%;
}
.inc-tab-content .inc-tab-content-inner {
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.35s;
    height: 0;
	overflow: hidden;
}
.inc-tab-content .inc-tab-content-inner.active {
    visibility: visible;
    opacity: 1;
    height: auto;
}
a.inc-trigger-all-shortcodes {
    display: block;
    margin: 0 auto;
    align-self: center;
    font-size: 18px;
    font-weight: 700;
}
a.inc-tab-nav-link.top {
    position: relative;
}
a.inc-tab-nav-link.top:before {
	display: none;
}
a.inc-tab-nav-link:after {
    position: absolute;
    content: '';
    border-top: 10px solid #286CD6;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    left: 50%;
    display: none;
}
.inc-chk-unchk-wrap {
    margin-left: auto;
    align-self: center;
}
.inc-chk-unchk-wrap span {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #286CD6;
    align-self: center;
}
a.inc-admin-btn {
    color: #fff;
    background: #286cd6;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
	transition: all ease 0.35s;
}
.inc-admin-btn > span {
    margin-left: 5px;
}
a.inc-admin-btn:hover {
    background: #435386;
}
a.inc-gradient-btn {
    background-color: #286CD6;
    background-image: -moz-linear-gradient( 174deg, #8D9ED6 0%, #286CD6 100% );
    background-image: -webkit-linear-gradient( 174deg, #8D9ED6 0%, #286CD6 100% );
    background-image: -ms-linear-gradient( 174deg, #8D9ED6 0%, #286CD6 100% );
    border-radius: 27px;
}
a.inc-save-changes-button:focus {
	box-shadow: none;
}
a.inc-gradient-btn:hover {
	background-color: #286CD6;
    background-image: -moz-linear-gradient( 0deg, #8D9ED6 0%, #286CD6 100% );
    background-image: -webkit-linear-gradient( 0deg, #8D9ED6 0%, #286CD6 100% );
    background-image: -ms-linear-gradient( 0deg, #8D9ED6 0%, #286CD6 100% );
}	
a.inc-animate-icon-btn span {
	transition: all ease 0.35s;
}
a.inc-animate-icon-btn span:last-child {
    transform: translateX(-26px) translateY(10px);
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    width: 0;	
}
a.inc-animate-icon-btn:hover span:last-child {
	transform: translateX(-26px) translateY(0);
	opacity: 1;
    visibility: visible;
}
a.inc-animate-icon-btn:hover span:nth-child(2) {
	transform: translateY(-16px);
    display: inline-block;
	opacity: 0;
    visibility: hidden;
}
a.inc-animate-icon-btn span {
    margin-left: 10px;
}
a.inc-tab-nav-link {
    position: relative;
}
a.inc-tab-nav-link.active:after {
	display: block;
}	
.inc-section-header-wrap {
    margin-bottom: 50px;
	justify-content: space-between;
}
img.inc-admin-logo {
    max-height: 40px;
}
.inc-section-content-description {
    font-size: 18px;
    line-height: 28px;
}
.inc-section-content-heading {
    font-size: 24px;
    color: #000;
    font-weight: 700;
}
.inc-heading-divider {
    width: 50px;
    background: #286CD6;
    border: 2px solid #286CD6;
    display: block;
    border-radius: 50%;
}
.inc-widget-heading {
    margin: 0;
    color: #000;
    font-weight: 400;
	font-size: 14px;
}
.inc-widget-box {
    border: 1px solid #dad4d4;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 15px;
	margin: 0 15px;
}
.inc-settings-img {
    width: 40px;
    height: 40px;
}
.inc-settings-heading {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.inc-settings-wrap {
    border-radius: 10px;
    padding: 20px;
}
.inc-settings-wrap:first-child {
    padding-top: 0;
}
.inc-settings-header {
    margin-bottom: 15px;
}
.inc-settings-header label {
    font-weight: bold;
}
.inc-settings-description {
    margin-top: 8px;
}
.inc-settings-wrap input, .inc-settings-wrap select {
    width: 100%;
    padding: 10px 5px;
    border-color: #e1dddd;
}
.inc-feature-flip-box {
    display: block;
	text-align: center;
}
.inc-flip-box-inner {
    perspective: 1000px;
    overflow: inherit;
}
.inc-flip-box-inner .inc-flip-box-front, .inc-flip-box-inner .inc-flip-box-back {
    transition: transform 1s;
    transform-style: preserve-3d;
}
.inc-flip-box-inner .inc-flip-box-front {
    color: #000;
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    transform: rotateY(0deg);
}
.inc-flip-box-inner .inc-flip-box-back {
    background-color: #286CD6;
    padding-top: 80px;
    padding-bottom: 80px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.inc-flip-box-back {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.inc-flip-box-inner > * {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}
.inc-flip-box-inner:hover .inc-flip-box-front {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.inc-flip-box-inner:hover .inc-flip-box-back {
    transform: rotateY(0);
}
.inc-flip-box-inner .inc-flip-box-front > *, .inc-flip-box-inner .inc-flip-box-back > * {
	-webkit-transform: translateZ(70px) scale(.86);
    transform: translateZ(70px) scale(.86);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	padding: 0 30px;
}	
.inc-feature-box-heading {
    font-size: 23px;
    line-height: 29px;
    font-weight: 600;
}
.inc-feature-box-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.inc-feature-box-btn {
    font-size: 16px;
    font-weight: 600;
}
.inc-flip-box-back  * {
	color: #fff
}	
.inc-feature-box-heading:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 30px;
    background: #286CD6;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}
.inc-feature-box-heading {
    font-size: 23px;
    line-height: 29px;
    font-weight: 600;
    position: relative;
    padding-bottom: 30px;
}
.inc-flip-box-back .inc-feature-box-heading:after {
	background: #fff;
}
.inc-section-title-wrap {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.inc-section-img {
    max-width: 400px;
}
.widget-modules-title {
    font-size: 22px;
    color: #000;
}
.inc-section-content-wrap-1 {
    padding-left: 30px;
	margin: 0 15px;
}
.inc-section-content-wrap-2 {
    padding-right: 30px;
	margin: 0 15px;
}
.inc-feature-box-row {
    padding: 0 40px;
}
.inc-feature-box-wrap {
    margin: 0 15px;
}
.inc-section-img-wrap {
    margin: 0 15px;
}
.inc-banner {
    padding: 50px 20px;
}
img.inc-banner-img {
    max-width: 650px;
}
.inc-banner-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
	font-weight: 700;
}
.inc-banner-title.banner-title-md {
	font-size: 40px;
    line-height: 54px;
}
.inc-highlight-text {
    color: #286CD6;
}
.inc-banner-description {
    font-size: 18px;
    font-weight: 400;
}
.inc-banner-content {
    margin: 0 15px;
}

/* Checkbox Styles */
.inc-checkbox {
	--background: #fff;
	--border: #d1d6ee;
	--border-hover: #bbc1e1;
	--border-active: #00bea3;
	--tick: #fff;
	position: relative;
}
.inc-checkbox input, .inc-checkbox svg {
	width: 25px;
	height: 25px;
	display: block;
}
.inc-checkbox input {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	outline: none;
	background: var(--background);
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border-radius: 4px;
	transition: box-shadow 0.3s;
	box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}
.inc-checkbox input:hover {
	--s: 2px;
	--b: var(--border-hover);
}
.inc-checkbox input:checked {
	--b: var(--border-active);
}
.inc-checkbox svg {
	pointer-events: none;
	fill: none;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: var(--stroke, var(--border-active));
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	transform: scale(var(--scale, 1)) translateZ(0);
}
.inc-checkbox.path input:checked {
	--s: 2px;
	transition-delay: 0.4s;
}
.inc-checkbox.path input:checked + svg {
	--a: 16.1 86.12;
	--o: 102.22;
}
.inc-checkbox.path svg {
	stroke-dasharray: var(--a, 86.12);
	stroke-dashoffset: var(--o, 86.12);
	transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}
.inc-checkbox input:focus {
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}
.inc-checkbox input[type=checkbox]:checked::before {
    content: "";
}
.show-password-wrap {
	position: relative;
}
span.icon-show-password {
    position: absolute;
    top: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    right: 5px;
    transform: translateY(-50%);
	color: #111;
}
span.icon-show-password.shown > i:before {
	content: "\e907";
}

/* New Menu Styles */
.inc-admin-menu {
    margin: 0;
	margin-top: 20px;
    display: flex;
    max-width: 100%;
    font-size: 1.5em;
    padding: 0.5em 2.85em;
    position: relative;
    align-items: center;
    justify-content: center;
	background-color: #286CD6;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    --bgColorMenu : #286CD6;
	--bgColorItem : #286CD6;
    --duration: .7s;
	--timeOut: 0.5s;
}
.inc-admin-menu__item {    
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut , var(--duration));    
}
.inc-admin-menu__item::before {    
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);    
}
.inc-admin-menu__item.active {
    transform: translate3d(0, -.8em , 0);
}
.inc-admin-menu__item.active::before {    
    transform: scale(1);
    background-color: var(--bgColorItem);
}
.inc-admin-inc-admin-menu-icon {    
    width: 1.6em;
    height: 1.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;    
}
.inc-admin-menu__item.active .inc-admin-inc-admin-menu-icon:not(.custom-one) {
    animation: strok 1.5s reverse;    
}
.inc-admin-inc-admin-menu-icon.custom-one {
    fill: white;
}
@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}
.inc-admin-menu__border {
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;	
    clip-path: url(#inc-admin-menu);
    will-change: transform;
    background-color: #286CD6;
    transition: transform var(--timeOut , var(--duration));    
}
.svg-container {
    width: 0;
    height: 0;
}
@media screen and (max-width: 50em) {
    .inc-admin-menu {
        font-size: .8em;
    }
}
.inc-admin-menu__item > span {
    position: absolute;
    top: calc( 100% + 16px );
    background: #fff;
    border-bottom-left-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom-right-radius: 5px;
}
button.inc-admin-menu__item.active > span:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
}
a.inc-demo-links {
    position: relative;
	opacity: 0.1;
	transition: all ease 0.35s;
}
.inc-widget-box:hover a.inc-demo-links {
	opacity: 1;
}
a.inc-demo-links .inc-view-demo {
    position: absolute;
    top: -30px;
    font-size: 10px;
    width: 60px;
    left: -25px;
    background: #fff;
    padding: 4px 6px;
    border-radius: 2px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.35s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
a.inc-demo-links:hover .inc-view-demo {
    opacity: 1;
    visibility: visible;
	top: -36px;
}
span.inc-view-demo:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    position: absolute;
    top: 100%;
    left: calc( 50% - 10px );
}
.inc-btn-lock {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.inc-btn-lock svg {
    fill: none;
    transform: translate3d(0, 0, 0);
    margin-left: 4px;
    margin-top: 4px;
	max-height: 20px;
}
.inc-btn-lock svg .lockb {
    fill: #ff1717;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transform: rotate(0);
    transform-origin: 14px 22px;
    transition: all 0.2s ease;
}
.inc-btn-lock svg .lock {
    stroke: #ff1717;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 48;
    transition: all 0.4s ease;
}
.inc-widget-operations {
    display: flex;
}
.inc-demo-links > i {
	margin-right: 10px;
	display: inline;
}
.inc-demo-links > i:before {
    font-size: 30px;
    display: inline-block;
    margin-top: -2px;
}
div#inc-others {
    text-align: center;
}
div#inc-others > a {
    display: inline-block;
    padding: 20px 100px;
    border: solid 1px #f1f1f1;
    margin-top: 100px;
    border-radius: 4px;
	transition: all ease 0.35s;
	margin-bottom: 30px;
}
div#inc-others > a:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inc-media {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
}
.inc-media > img {
    max-width: 100px;
}
.text-left {
	text-align: left;
}