@font-face {
  font-family: 'aiea-icon';
  src:  url('../fonts/aiea-icon.eot?viaevr');
  src:  url('../fonts/aiea-icon.eot?viaevr#iefix') format('embedded-opentype'),
    url('../fonts/aiea-icon.ttf?viaevr') format('truetype'),
    url('../fonts/aiea-icon.woff?viaevr') format('woff'),
    url('../fonts/aiea-icon.svg?viaevr#aiea-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="aieaicon-"], [class*=" aieaicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aiea-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aieaicon-weather:before {
  content: "\e94f";
}
.aieaicon-smoke:before {
  content: "\e949";
}
.aieaicon-parallax:before {
  content: "\e94a";
}
.aieaicon-rain-drops:before {
  content: "\e94b";
}
.aieaicon-float:before {
  content: "\e94c";
}
.aieaicon-header-footer:before {
  content: "\e94d";
}
.aieaicon-maga-menu:before {
  content: "\e94e";
}
.aieaicon-archive-title:before {
  content: "\e940";
}
.aieaicon-site-title:before {
  content: "\e941";
}
.aieaicon-breadcrumb:before {
  content: "\e942";
}
.aieaicon-logo:before {
  content: "\e943";
}
.aieaicon-menu:before {
  content: "\e944";
}
.aieaicon-search:before {
  content: "\e945";
}
.aieaicon-copyright:before {
  content: "\e946";
}
.aieaicon-post-title:before {
  content: "\e947";
}
.aieaicon-page-title:before {
  content: "\e948";
}
.aieaicon-image-accordion:before {
  content: "\e93f";
}
.aieaicon-product-category:before {
  content: "\e93c";
}
.aieaicon-product-category-slider:before {
  content: "\e93e";
}
.aieaicon-single-product:before {
  content: "\e93a";
}
.aieaicon-product-slider:before {
  content: "\e93b";
}
.aieaicon-form:before {
  content: "\e914";
}
.aieaicon-magazine:before {
  content: "\e915";
}
.aieaicon-post:before {
  content: "\e916";
}
.aieaicon-product:before {
  content: "\e918";
}
.aieaicon-portfolio:before {
  content: "\e91a";
}
.aieaicon-tab:before {
  content: "\e91f";
}
.aieaicon-video-popup:before {
  content: "\e921";
}
.aieaicon-carousel:before {
  content: "\e923";
}
.aieaicon-content-switcher:before {
  content: "\e925";
}
.aieaicon-before-after:before {
  content: "\e926";
}
.aieaicon-image-hotspot:before {
  content: "\e927";
}
.aieaicon-image-hover:before {
  content: "\e928";
}
.aieaicon-pretty-hover:before {
  content: "\e929";
}
.aieaicon-testimonial:before {
  content: "\e92b";
}
.aieaicon-pricing-table:before {
  content: "\e92c";
}
.aieaicon-timeline:before {
  content: "\e92d";
}
.aieaicon-timeline-slide:before {
  content: "\e92f";
}
.aieaicon-offcanvas:before {
  content: "\e930";
}
.aieaicon-image-grid:before {
  content: "\e933";
}
.aieaicon-bar-chart:before {
  content: "\e934";
}
.aieaicon-polar-chart:before {
  content: "\e936";
}
.aieaicon-progress-bar:before {
  content: "\e937";
}
.aieaicon-counter:before {
  content: "\e938";
}
.aieaicon-day-counter:before {
  content: "\e939";
}
.aieaicon-icon:before {
  content: "\e90b";
}
.aieaicon-featured-box:before {
  content: "\e90c";
}
.aieaicon-section-title:before {
  content: "\e90d";
}
.aieaicon-charts:before {
  content: "\e90e";
}
.aieaicon-tool-tip:before {
  content: "\e90f";
}
.aieaicon-contact-info:before {
  content: "\e910";
}
.aieaicon-button:before {
  content: "\e912";
}
.aieaicon-creative-button:before {
  content: "\e913";
}
.aieaicon-fancy-text:before {
  content: "\e90a";
}
.aieaicon-content:before {
  content: "\e908";
}
.aieaicon-pie-chart:before {
  content: "\e92a";
}
.aieaicon-icon-box:before {
  content: "\e92e";
}
.aieaicon-line-chart:before {
  content: "\e931";
}
.aieaicon-mailchimp:before {
  content: "\e932";
}
.aieaicon-pop-up:before {
  content: "\e935";
}
.aieaicon-flip-box:before {
  content: "\e93d";
}
.aieaicon-accordion:before {
  content: "\e909";
}
.aieaicon-google-map:before {
  content: "\e911";
}
.aieaicon-image:before {
  content: "\e917";
}
.aieaicon-circle-progress:before {
  content: "\e919";
}
.aieaicon-social-links:before {
  content: "\e91b";
}
.aieaicon-social-share:before {
  content: "\e91c";
}
.aieaicon-toggle-content:before {
  content: "\e91d";
}
.aieaicon-table:before {
  content: "\e91e";
}
.aieaicon-team:before {
  content: "\e920";
}
.aieaicon-title:before {
  content: "\e922";
}
.aieaicon-icon-list:before {
  content: "\e924";
}
.aieaicon-eye-hide:before {
  content: "\e907";
}
.aieaicon-eye:before {
  content: "\e906";
}
.aieaicon-settings:before {
  content: "\e900";
}
.aieaicon-moon:before {
  content: "\e901";
}
.aieaicon-crown:before {
  content: "\e902";
}
.aieaicon-app:before {
  content: "\e903";
}
.aieaicon-star:before {
  content: "\e904";
}
.aieaicon-sun:before {
  content: "\e905";
}
